*,
html {
  padding: 0;
  margin: 0;
}

.Header{
    background-color: royalblue;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    
}
head{
    background-color: antiquewhite;
}
body{
    background-color: antiquewhite;
    
}
ul {
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        font-size: 30px;
        overflow: hidden;
        background-color: rgb(47, 46, 46);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      
      

body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}

.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
  color: crimson;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: #555;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.sub-heading .importent {
  color: crimson;
  text-transform: uppercase;
  font-weight: 300;
}

/* HOME */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.home-img {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

.list img {
  width: 100%;
  height: 80px;
}

/* ARTICLE */
article > p {
  font-size: 20px;
  margin-bottom: 20px;

  columns: 3 25ch;
  column-gap: 40px;
  hyphens: auto;
}

article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
}

table, th, td {
border: 1px solid white;
border-radius: 2px;
}


.satu{
  background-color: lightgreen;
}

.enambelas{
  background-color: rgb(245, 245, 4);
}

.tujubelas{
  background-color: rgb(251, 100, 6);
}

.lapanbelas{
  background-color: rgb(254, 33, 33);
}

.awal{
  background-color: black;
  color: white;
}

.footer{
  position: sticky;
  left:0%;
  bottom: 0%;
  width: 100%;
  background-color: royalblue;
  color: white;
  text-align: center;

}